@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(27, 66, 66);
    color: white;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 40%;
}

#battleForm {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    gap: .4em;
    background-color: rgb(92, 131, 116, 0.2);
    box-shadow: 0 .1em .2em 0 rgba(0, 0, 0, 0.2);
    transition: .3s;
    border-radius: .4em;
    padding: 2em;
}

#battleForm:hover {
    box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, 0.4)
}

#simulateButton {
    background-color: rgb(92, 131, 116);
    border: none;
    border-radius: .4em;
    color: white;
    padding: .4em 1em;
    text-align: center;
    text-decoration: none;
    margin-top: .6em;
}
